# Needs to be actual db
attendance.db

# Needs to be actual db
qr_codes

# macOS system file
.DS_Store

# Python bytecode cache
__pycache__/
*.pyc

# JetBrains / PyCharm / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

