<!DOCTYPE html>
<html>
<head>
    <title>Student Interface Frame 4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/studentstyles.css') }}">
</head>
<body>
    <h1>Student Attendance Form</h1>

    <div class="content">
        <img src="{{ url_for('static', filename='images/student-form-complete.png') }}" alt="Student Form Complete">
    
        <p>You're all set!<br>Keep this tab open to ensure proper location-tracking throughout the event.</p>
    </div>
</body>
</html>